// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$manufacturers-name: 'manufacturers';
$manufacturers-x: 0px;
$manufacturers-y: 0px;
$manufacturers-offset-x: 0px;
$manufacturers-offset-y: 0px;
$manufacturers-width: 24px;
$manufacturers-height: 24px;
$manufacturers-total-width: 44px;
$manufacturers-total-height: 24px;
$manufacturers-image: '../img/sprite.png';
$manufacturers: (0px, 0px, 0px, 0px, 24px, 24px, 44px, 24px, '../img/sprite.png', 'manufacturers', );
$pencil-name: 'pencil';
$pencil-x: 29px;
$pencil-y: 0px;
$pencil-offset-x: -29px;
$pencil-offset-y: 0px;
$pencil-width: 15px;
$pencil-height: 15px;
$pencil-total-width: 44px;
$pencil-total-height: 24px;
$pencil-image: '../img/sprite.png';
$pencil: (29px, 0px, -29px, 0px, 15px, 15px, 44px, 24px, '../img/sprite.png', 'pencil', );
$spritesheet-width: 44px;
$spritesheet-height: 24px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($manufacturers, $pencil, );
$spritesheet: (44px, 24px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
