/* reset */
$min-width: 320px; 
$max-width: 1278px; 
$base-bg: #FFF; 
$base-font-size: 14px; 
$base-line-height: 21px; 
$base-font-family: 'Montserrat', sans-serif; 
$custom-font-family: 'Montserrat', sans-serif; 
$link-color: #0c679f;
$default-transition: all 0.3s linear;

/* main variables */

//text, titles
$text-color: #222;
$title-color: #222;
$title-font-family: $custom-font-family;

$font-size-h1: 30px;
$line-height-h1: 38px;
$font-size-h2: 30px;
$line-height-h2: 38px;
$font-size-h3: 30px;
$line-height-h3: 38px;
$color1: #566886;