@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2gan27');
  src:  url('fonts/icomoon.eot?2gan27#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2gan27') format('truetype'),
    url('fonts/icomoon.woff?2gan27') format('woff'),
    url('fonts/icomoon.svg?2gan27#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-right-2:before {
  content: "\e903";
}
.icon-arrow-right-3:before {
  content: "\e904";
}
.icon-arrow-right-bold:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-basket:before {
  content: "\e907";
}
.icon-basket-close:before {
  content: "\e908";
}
.icon-briefcase:before {
  content: "\e909";
}
.icon-call:before {
  content: "\e90a";
}
.icon-chek:before {
  content: "\e90b";
}
.icon-clip:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-delivery:before {
  content: "\e90f";
}
.icon-delivery-box:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-email:before {
  content: "\e912";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-fb-full:before {
  content: "\e914";
}
.icon-file:before {
  content: "\e915";
}
.icon-file-upload:before {
  content: "\e916";
}
.icon-flag:before {
  content: "\e917";
}
.icon-flag-2:before {
  content: "\e918";
}
.icon-google-plus:before {
  content: "\e919";
}
.icon-letter:before {
  content: "\e91a";
}
.icon-office-archive:before {
  content: "\e91b";
}
.icon-percent:before {
  content: "\e91c";
}
.icon-repead:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-shaking-hands:before {
  content: "\e91f";
}
.icon-t:before {
  content: "\e920";
  color: #fff;
}
.icon-twitter:before {
  content: "\e921";
}
.icon-twitter-full:before {
  content: "\e922";
}
.icon-user:before {
  content: "\e923";
}
.icon-vk:before {
  content: "\e924";
}
