
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background-color: #f4f5f8;
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;	
    padding: 55px 0 62px;
    .devide-line{
    	background-color: #dee0e7;
    	margin: 26px 0 45px;
    }
}

.footer-title{
	color: #262b30;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	display: block;
	margin-bottom: 20px;
}
.contact-list{
	&__item{
		display: block;
		margin-bottom: 21px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__title{
		color: #7d888a;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		margin-bottom: 2px;
	}
	&__link{
		color: #262b30;
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
	}
}
.development{
	display: block;
	padding-bottom: 12px;
	&__logo{
		width: 108px;
		display: block;
		margin: 0 0 5px auto;
		img{
			display: block;
			width: 100%;
		}
	}
	&__title{
		color: #7d888a;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		transition: all 0.3s;
	}
	&:hover{
		.development__title{
			color: #0c679f;
		}
	}
}
.copyright{
	p{
		color: #7d888a;
		font-size: 12px;
		line-height: 18px;
		padding: 9px 0;
	}
	a{
		color: #0c679f;
		font-size: 13px;
		font-weight: 500;
		border-bottom: 1px solid transparent;
		&:hover{
			border-bottom-color: #0c679f;
		}
	}
}

.social-list{
	margin-top: 25px;
	margin-bottom: 42px;
	&__item{
		display: inline-block;
		margin-right: 6px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		width: 50px;
		height: 50px;
		border: 2px solid #d7e0e6;
		border-radius: 50%;
		color: #687173;
		display: block;
		position: relative;
		font-size: 22px;
		i{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
		&:hover{
			background-color: #e21e1e;
			border-color: #e21e1e;
			color: #fff;
			box-shadow: 0 10px 30px rgba(219, 29, 36, 0.2);
		}
	}
}
.footer-nav{
	margin-bottom: 29px;
	&__item{
		display: block;
		margin-bottom: 6px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		color: $color1;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		display: block;
		&:hover{
			color: #0c679f;
		}
	}
}

.app-list{
	margin-top: 25px;
	&__item{
		display: block;
		margin-bottom: 11px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		display: block;
		height: 47px;
		img,
		svg{
			height: 46px;
			width: 156px;
		}
		&:hover{
			opacity: 0.6;
		}
	}
}
.payment-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px;
	&__item{
		padding: 0 11px;
		margin-bottom: 17px;
	}
	&__link{
		display: block;
	}

}
.icon-mir{
	width: 83px;
	height: 24px;
	fill: url(#svg-gradient) #006848;
}
.icon-yandex-money{
	width: 132px;
	height: 30px;
}
.icon-visa{
	width: 73px;
	height: 24px;
}
.icon-mastercard{
	width: 46px;
	height: 28px;
}
.col-variable-width{
	padding: 0 15px;
}
@media screen and (max-width: 1200px) {
	footer {
		padding-bottom: 44px
	}	
}

@media screen and (min-width: 992px) and (max-width: 1100px){
	.social-list__link{
		width: 47px;
		height: 47px;
	}
	.social-list__item{
		margin-right: 2px;
	}
}

@media screen and (max-width: 991px) {
	.app-list{
		display: flex;
		margin: 0 -5px;
		&__item{
			margin-bottom: 0;
			padding: 0 5px;
		}
	}
}

@media screen and (min-width: 992px) {
		.footer-nav-bl {
			padding-left: 0
		}
}

@media screen and (max-width: 767px) {
	footer{
		padding: 29px 0;
	}
	.footer-title{
		margin-bottom: 15px;
	}
	.contact-list{
		margin-bottom: 26px;
	}
	.contact-list__item{
		margin-bottom: 10px;
	}
	.social-list {
	    margin-top: 15px;
	    margin-bottom: 19px;
	}
	.app-list__link img, .app-list__link svg{
		width: 130px;
		height: 39px;
	}
	footer .devide-line{
		margin-bottom: 20px;
	}
	.copyright{
		margin-bottom: 13px;
	}
}