.header-search-results {
	background: #fff;
	color: #222;
	width: 570px;
	min-width: calc(100% - 32px);
	position: absolute;
	left: 50%;
	margin-left: 9px;
	transform: translateX(-50%);
	top: -1px;
	padding:58px 0 0;
	display: none;
	border-radius: 22px 22px 10px 10px; 
	z-index: 10;
	.mCSB_scrollTools {
		bottom: 20px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: #e21e1e
	}
	&__list {
		display: table;
		width: 100%;
	}
	&__row {
		display: table-row;
		color: inherit;
		&:hover {
			.header-search-results__col {
				background: #f7f7f7;
			}
		}
	}
	&__col {
		display: table-cell;
		padding: 8px 0 8px 20px;
		font-size: 11px;
		color: #566886;
		vertical-align: middle;
		border-bottom: 2px solid #f4f5f8;
		&:last-child {
			padding-right: 15px;
		}
	}
	&__row-head {
		.header-search-results__col {
			color: inherit;
			font-weight: 600;
			padding-top: 9px;
			padding-bottom: 9px
		}

	}
	&__currency {
		color: #c9d5de;
		margin-right: 5px;
	}
	&__title {
		font-size: 12px;
		font-weight: 700;
		    line-height: 14px;
		color: #323232;
	}
	&__category {
		color: #a1b0c1;
		margin-top: 3px;
	}
	&__counts {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		    padding: 20px 22px;
	}
	&__count {
		color: #566886;
		font-size: 12px;
	    margin-right: 18px;
	    padding-top: 3px;
	}
	.mCSB_inside > .mCSB_container {
		margin-right: 10px
	}
	.mCSB_scrollTools {
		width: 10px
	}

	.mCSB_inside > .mCSB_container.mCS_no_scrollbar_y{
		margin-right: 0 !important
	}
}

.col_1 {
	width: 50%
}
.col_2 {
	width: 10%
}
.col_3 {
	width: 10%
}
.col_4 {
	width: 10%
}
.col_5 {
	width: 10%
}
.box-search {
	position: relative;
	z-index: 10
}
.search-show .nav-overlay {
	display: block;
    z-index: 102;
}
.btn_show-results {
	height: 36px;
	font-size: 12px;
	padding: 7px 20px 0;
	display: inline-block;
}
.reset-icon {
	position: absolute;
	right: 143px;
    top: 12px;
	background: transparent;;
	font-size: 12px;
	border: 0;
	color: #e21e1e;
	display: none;
	i {
		    font-size: 10px;
	}
}
.overlay-header {
    background-color: rgba(39, 47, 64, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    height: 200%;
    z-index: -10;
    opacity: 0;
    transition: all .3s ease-in
}
.open-search {
	.overlay-header {
	    display: block;
	    z-index: 9;
	    opacity: 1;
	    top: 111px;
	}
	header {
		position: relative;
		z-index: 103
	}
	.box-search form {
		position: relative;
		z-index: 11
	}
	.reset-icon {
		display: block;
	}
}
.search__input {
	padding-right: 42px
}
@media screen and (max-width: 1100px) {
	.reset-icon {
		right: 104px;
	}
	.search__input {
		padding-right: 34px
	}
}
 
@media screen and (max-width: 991px) {
	.reset-icon {
		right: 77px;
	}
}   
@media screen and (max-width:880px) and (min-width: 768px) {
	.open-search .reset-icon {
		display: none;
	}

	.search__input {
		padding-right: 10px
	}
}
@media screen and (max-width:767px) {
	.header-search-results__col {
		color: #333;
		padding: 6px 7px 8px;
	}
	.reset-icon {
	    right: 14px;
	}
	.header-search-results {
		width: auto;
		right: 9px;
		left: 9px;
		min-width: 0;
		transform: translate(0);
		padding: 51px 0 10px 10px;
		margin-left: 0;
		&.mCS_no_scrollbar {
			padding-right: 10px;
		}
		&.mCS_no_scrollbar .mCSB_inside > .mCSB_container {
			margin-right: 0
		}
	}
	.header-search-results__counts {
		display: block;
		text-align: center;
		padding: 17px 15px 24px;
	}
	.header-search-results__list, .header-search-results__col {
		display: block;
	}
	.header-search-results__row {
		border: 2px solid #f4f5f8;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px
	}
	.header-search-results__row-head {
		display: none;
	}
	.col_2, .col_3, .col_4, .col_5 {
		background: #f4f5f8;
		width: 50%;
		&:before {
			content: attr(data-cell);
			font-size: 9px;
			color: #566886;
			display: block;
			margin-bottom: 5px;
		}
	}
	.col_1 {
		order:1;
		width: 100%;
		padding-bottom: 5px;
		padding-top: 8px
	}
	.col_3 {
		order: 2;
		border-right: 2px solid #e8e9ec;
	}
	.col_4 {
		order:3;
	}
	.col_2 {
		order: 4;
		border-right: 2px solid #e8e9ec;
	}
	.col_5 {
		order: 5;
	}
	.col_5, .col_2 {
		padding-top: 0;
	}
	.col_3, .col_4 {
		padding-bottom: 3px
	}
	.reset-icon {
	    display: none
	}
	.search-mob {
		z-index: 10
	}
	.open-search .nav-overlay {
		top: 81px;
	}
	.btn_show-results {
		margin-top: 18px;
	}
}     

@media screen and (max-width: 480px) {
	.open-search {
		.search-mob {
			background: transparent;
		}
	}
	.open-search {
		.overlay-header {
			top: 0;
		}
		.box-search {
			position: static;
		}
		.box-search form {
			z-index: 0
		}
	}
	.header-search-results {
	    left: 35px;
	    right: 35px;
	}
	.reset-icon {
	    right: 46px;
	}
}
@media screen and (max-width: 359px) {
	
	.header-search-results {
	    left: 20px;
	    right: 20px;
	}
}  