
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{	
	width:100%;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
}

.header-top{
	background-color: #f4f5f8;
	text-align: right;
	padding: 9px 0;
}
.header-nav{
	&__item{
		display: inline-block;
		vertical-align: top;
		margin-right: 23px;
		&:last-child{
			margin-right: 0;
		}
		&_phone{
			margin-right: 28px;
			.header-nav__text{
				font-weight: 700;
			}
		}
	}
	&__link{
		display: block;
		i{
			color: #cfcfcf;
			font-size: 18px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 4px;
		}
		&:hover .header-nav__text{
			color: #0c679f;
		}
	}
	&__text{
		color: #292929;
		font-size: 13px;
		line-height: 16px;
		font-weight: 400;
		display: inline-block;
		vertical-align: middle;
		transition: all 0.3s;
	}
}
.header-medium{
	padding: 14px 0 15px;
	border-bottom: 2px solid #ecedf1;
	height: auto;
	min-height: 0;
	.wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.box-search{
		flex-grow: 12;
		padding: 0 7px 0 25px;
	}
}
.logo{
	display: inline-block;
	width: 288px;
	img{
		display: inline-block;
		max-width: 100%;
	}
}
.search{
	display: flex;
	height: 44px;
	background-color: white;
	border: 2px solid #ecedf1;
	border-radius: 22px;
	position: relative;
	padding: 0 135px 0 35px;
	&__icon{
		position: absolute;
		left: 11px;
		top: 9px;
		font-size: 24px;
		color: #dce4e6;
	}
	&__fields{
		width: 100%;
	}
	&__input{
		border: none;
		height: 40px;
		padding: 5px 15px;
		width: 100%;
		color: #262b30;
		font-size: 14px;
		font-weight: 400;
		@include placeholder-color(#262b30);
	}
	&__btn{
		position: absolute;
		right: -2px;
		top: -2px;
		height: 44px;
		background-color: #e21e1e;
		border-radius: 0px 22px 22px 0px;
		width: 130px;
		border: 2px solid #e21e1e;
		color: white;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		text-align: center;
		padding: 2px 15px 2px;
		transition: all 0.3s;
		&:hover{
			color: #e21e1e;
			background-color: transparent;
		}
	}
}
.user-nav{
	display: flex;
	align-items: center;
	&__item{
		position: relative;
		padding: 0 22px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 0;
			width: 2px;
			height: 40px;
			background-color: #ecedf1;
			top: 50%;
			transform: translateY(-50%);
		}
		&:last-child{
			padding-right: 0;
			&:before{
				display: none;
			}
		}
	}
}

.user-basket{
	color: #262b30;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	display: block; 
	i{
		display: inline-block;
		vertical-align: middle;
		color: #0c679f;
		font-size: 25px;
		margin-right: 5px;
	}
	&__text{
		display: inline-block;
		vertical-align: middle;
	}
	&:hover{
		color: #0c679f;
	}
}

.login{
	display: flex;
	align-items: center;
	&__item{		
		&:first-child{
			margin-right: 4px;
		}
		&:last-child{
			.login__link{
				border-right: none;
			}
		}
	}
	&__link{
		color: #262b30;
		font-size: 13px;
		font-weight: 400;
		display: block;
		padding: 0 5px;
		border-right: 1px solid #262b30;
		&:hover{
			color: #0c679f;
		}
	}
	&__icon{
		color: #0c679f;
		font-size: 24px;
		position: relative;
		top: 1px;
	}
}


.main-nav{
	display: flex;
	align-items: center;
	&-list{
		display: flex;
		align-items: center;
		&__item{
			display: inline-block;
			vertical-align: top;
			margin-right: 34px;
		}
		&__link{
			color: #1b1e21;
			font-size: 14px;
			line-height: 18px;
			font-weight: 500;
			position: relative;
			display: block;
			padding: 13px 14px 13px 0;
			letter-spacing: 0.13px;
			i{
				color: #0c679f;
				font-size: 8px;
				position: absolute;
				right: 2px;
				top: 50%;
				margin-top: -2px;
				display: block;
				transition: all 0.3s;
			}
			&:hover{
				color: #0c679f;
			}
		}

	}
	&-mob{
		flex: 1;
		.main-nav-list__item{
			&:last-child{
				margin-right: 0;
				margin-left: auto;
			}
		}
	}
}

.main-nav-list__item.hover{
	position: relative;
	.drop-nav{
		opacity: 1;
		visibility: visible;
		z-index: 99;
	}
	.main-nav-list__link {
		color: #0c679f;
	}
	.main-nav-list__link i{
		transform: scale(1,-1);
	}
}
.main-nav-list__item{
	position: relative;
}
.drop-nav{
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	padding-top: 2px;
	&__cont{
		display: flex;
		position: relative;
		background-color: #fff;
	}
	&__col{
		background-color: white;		
		box-shadow: 0 10px 50px rgba(38, 43, 48, 0.07);
		&_1{
			z-index: 3;
			background-color: white;
		}
		&_2{
			z-index: 2;
			background-color: #f4f5f8;
			.drop-nav-list__item.active .drop-nav-list__link{
				background-color: #e3e8ee;
			}
		}
		&_3{
			z-index: 1;
			background-color: #e3e8ee;
		}
	}
	&__title{
		color: #2879aa;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 12px;
		padding: 0px 29px;
	}
}
.drop-nav-list{
	width: 312px;
	padding: 18px 0;
	list-style: none;
	&__item{
		display: flex;
		height: auto;
		min-height: 0;
		&.active{
			.drop-nav-list__link{
				background-color: #f4f5f8;
				color: #0c679f;
				font-weight: 700;
				i{
					color: #0c679f;
				}
			}
		}
	}
	&__link{
		color: #272f40;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		position: relative;
		display: block;
		padding: 8px 28px 9px 29px;
		letter-spacing: 0.31px;
		width: 100%;
		i{
			position: absolute;
			right: 21px;
			top: 50%;
			margin-top: -4px;
			font-size: 8px;
			color: #c9d5de;
			transition: all 0.3s;
		}
		&:hover{
			background-color: #f4f5f8;
			color: #0c679f;
			i{
				color: #0c679f;
			}
		}
	}
}
.our-partner{
	display: flex;
	align-items: center;
	padding-right: 0;
	i{
		display: block;
		margin-right: 6px;
		color: #e3e8ee;
		font-size: 24px;
		top: 0px;
		position: relative;
	}
	&:hover{
		color: #0c679f;
	}
}

.drop-sub-nav{
	display: none;
	padding: 27px 0;
	&.active-nav{
		display: block;
	}
	.drop-nav-list{
		padding: 0;
	}
}
.hover-nav{
	position: relative;
	.nav-overlay{
		display: block;
		z-index: 102;
	}
	&+header{
		z-index: 110;
	}
}
.nav-overlay{
	background-color: rgba(39,47,64,0.6);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 200%;
	display: none;
}

.inner-header{	
	border-bottom: 2px solid #ecedf1;
}
.search-mob {
	display: none;
}

.close-icon {
	border: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	right: 60px;
	top: 50%;
	transform: translate(0,-50%);
	background-color: rgb(215, 224, 230);
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	font-size: 7px;
}




@media screen and (min-width: 481px){
	.search-mob {
		display: none !important;
	}
}



@media screen and (max-width: 1200px) {
	.header-medium .box-search{
		padding: 0 0 0 15px;
	}
	.search{
		padding-right: 128px;
	}
	.search__input{
		padding-right: 9px;
	}
}
@media screen and (max-width: 1100px) {
	.search__btn{
		width: 100px;
	}
	.search{
		padding-right: 100px;
	}
	.user-nav__item{
		padding: 0 12px;
		&:last-child{
			padding-right: 0;
		}
	}
}
@media screen and (min-width: 992px)  and (max-width: 1100px){
	.main-nav-list__item{
		margin-right: 15px;
	}
}
@media screen and (min-width: 992px){
	.show-tablet{
		display: none!important;
	}
}

@media screen and (max-width: 991px) {
	.logo{
		max-width: 220px;
	}
	.search__btn{
		width: 75px;
		font-size: 13px;
		padding-left: 8px;
		padding-right: 10px
	}
	.search{
		padding-right: 82px;
		overflow: hidden
	}
	.user-nav__item {
		white-space: nowrap;
	}
	.login__item, .user-basket {
		font-size: 13px
	}
	.button-nav{
		display: flex;
		align-items: center;
		margin-left: auto;
		&__text{
			color: #1b1e21;
			line-height: 15px;
			padding-right: 10px;
			font-size: 12px;
			font-weight: 500;
		}
		&__icon{
			position: relative;
			width: 20px;
			height: 20px;
			span{
				display: block;
			    margin: 3px auto 5px auto;
			    width: 20px;
			    background-color: #0c679f;
			    height: 2px;
			    transition: 0.3s ease;
			}
		}
		&.active{
			.button-nav__icon{
				span{
					&:first-child{transform: rotate(-45deg);
					    position: absolute;
					    margin: 0 0 0 0;
					    width: 24px;
					    left: -2px;
					    top: 9px;
					}
					&:nth-child(2){
						background-color: transparent;
					}
					&:nth-child(3){
						transform: rotate(45deg);
						position: absolute;
						right: -2px;
						width: 24px;
						top: 9px;
						margin: 0 0 0 0;
					}
				}
			}
			
		}
	}
	.drop-nav {
		padding-top: 0
	}
	.main-nav-mob{
		position: absolute;
		top: 100%;
		background-color: white;
		left: 0;
		width: 100%;
		padding: 0 30px;
		display: none;
		box-shadow: 0 10px 50px rgba(38, 43, 48, 0.07);
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 70px;
			width: 21px;
			height: 21px;
			background-color: white;
			transform: rotate(45deg);
			top: -4px;
		}
		&.show-nav{
			display: block;
		}
	}
	.main-nav-list__item{
		margin-right: 10px;
	}
	.header-bottom{
		background-color: #f4f5f8;
	}
	.drop-nav-list__link{
		padding: 7px 20px 7px 10px;
		font-size: 13px;
		line-height: 17px;
	}
	.drop-nav-list__link i{
		right: 11px;
	}
	.drop-nav-list{
		width: 235px;
		padding: 5px 0;
	}
	.drop-nav__title{
		font-size: 13px;
		padding: 0 10px;
	}
	.drop-sub-nav{
		padding: 11px 0;
	}
	.header-medium{
		border-bottom: none;
	}
	.inner-header{
		border-bottom: none;
	}
	.hover-nav-mob{
		position: relative;
		.nav-overlay{
			display: block;
			z-index: 102;
		}
		&+header{
			z-index: 110;
		}
	}
	
}

@media screen and (min-width: 768px){
	.show-mob{
		display: none!important;
	}
}

@media screen and (max-width: 767px) {
	.hide-mob{
		display: none!important;
	}
	.logo{
		width: 40px;
		flex-shrink: 0
	}
	.search__btn {
		display: none;
	}
	.main-nav-list__link i {
		margin-top: -3px
	}
	.user-nav__item{
		padding: 0;
		&:first-child{
			margin-right: 5px;
		}
	}
	.user-basket{
		width: 40px;
		height: 40px;
		background-color: #f4f5f8;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		position: relative;
	}
	.user-basket i{
		margin-right: 0;
		font-size: 18px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		display: block;
	}
	.user-nav__item:before{
		display: none;
	}
	.login__icon{
		width: 40px;
		height: 40px;
		background-color: #f4f5f8;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		display: block;
		i{
			margin-right: 0;
			font-size: 20px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			display: block;
		}
	}
	.main-nav-mob{
		padding: 20px 35px;
		.main-nav-list__item{
			display: block;
			margin: 0 0 4px 0;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.main-nav-list__link{
			font-size: 14px;
			line-height: 16px;
		}
		.main-nav-list__link i{
			transform: rotate(-90deg);
			color: #c9d5de;
		}
		.drop-nav{
			top: 0;
			.drop-nav__col_1:before {
				display: none;
			}
		}
		.header-nav{
			display: flex;
			justify-content: space-between;
		}
	}
	.our-partner i{
		display: none;
	}
	.main-nav-list__contact{
		padding: 10px 0;
		margin-bottom: 11px;
	}
	.header-nav__item_phone{
		position: relative;
		width: 50%;
		margin-right: 0;
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			width: 2px;
			height: 30px;
			background-color: #ecedf1;
		}
	}
	.main-nav-list__link i:before {
		display: inline-block;
		transform: scale(0.9);
	}
	.search{
		height: 40px;
		border-radius: 20px;
	}
	.search__input{
		height: 36px;
		padding: 2px 0;
	}
	.header-medium{
		padding: 19px 0 21px;
		border-bottom: none;
	}
	.search__icon{
		font-size: 17px;
		left: 8px;
		top: 10px;
	}
	.header-medium .box-search{
		padding: 0 9px 0 9px;
	}

	.main-nav-list__link{
		font-size: 12px;
		line-height: 16px;
		padding: 9px 16px 9px 0;
		letter-spacing: 0.00px;
	}

	.main-nav-list__item.hover{
		position: static;
	}
	.drop-nav__col{
		width: 100%;
		padding: 14px 0;
		&_1{
			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 48px;
				width: 21px;
				height: 21px;
				background-color: white;
				transform: rotate(45deg);
				top: -4px;
			}
		}
		&.this-active-col{
			display: none;
		}
	}
	.drop-nav-list{
		width: 100vw;
	}
	.drop-nav-list__link{
		padding: 10px 35px;
		font-size: 14px;
		letter-spacing: -0.1px;
	}
	.drop-nav-list__link i{
		right: 36px;
	}
	.drop-nav__col_2{
		position: relative;
		z-index: 3;
		padding: 16px 0 14px;
	}
	.drop-nav__col_3{
		position: relative;
		z-index: 4;
		padding: 16px 0 14px;
	}
	.drop-nav__title{
		padding: 0 19px 0 50px;
		position: relative;
		font-size: 14px;
	}
	.drop-nav__col_2{
		display: none;
		&.active-col{
			display: block;
			.active-nav{
				display: block;
			}
		}
		&.this-active-col{
			display: none;
		}
	}
	.drop-nav__col_3{
		display: none;
		&.active-col{
			display: block;
			.active-nav{
				display: block;
			}
		}
	}
	.back-nav-link{
		position: absolute;
		font-size: 8px;
		top: -1px;
		left: 35px;
		display: block;
		transform: scale(-1,-1);
	}
	.drop-nav__cont{
		align-items: flex-start;
	}
	.search {
		padding-right: 10px
	}
/*	.search-box:not(:valid) ~ .reset-icon {
		display: none;
	}*/

}

@media screen and (max-width: 480px){
	.search-mob {
		position: absolute;
		left: 0;
		right: 0;
		top: -2px;
		bottom: 0;
		background: #fff;
		padding-right: 35px;
		padding-left: 35px;
		padding-top: 2px;
		padding-bottom: 1px;
		&__inner {
			position: relative;
		}
	}
	.search__button {
		border-radius: 50%;
		background-color: rgb(226, 30, 30);
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		z-index: 1;
		color: #fff;
		font-size: 17px;
		border: 0;
		padding: 4px 0 0 1px;
		text-align: center;
	}
	.search-box {
		padding-right: 83px;
		padding-left: 14px;
  		height: 40px;
  		font-size: 14px;
  		border: 2px solid rgb(244, 245, 248);
  		border-radius: 20px;
  		width: 100%;
	}
}
@media screen and (max-width: 359px){
	.main-nav-mob{
		padding: 20px 20px
	}
	.drop-nav-list__link{
		padding-left: 20px;
		padding-right: 28px;
		i{
			right: 21px;
		}
	}
	.drop-nav__title{
		padding-left: 35px;
	}
	.back-nav-link{
		left: 21px;
	}
	.search-mob {
	    padding-left: 20px;
	    padding-right: 20px;
	}
}
